
/*Intro Section*/

.TDDUP-Head {
    font-family: 'Cormorant Garamond', serif;
    color: #470D21;
    text-shadow: 4px 2px 10px #ED9E39;
    background-color: #F9E4D4;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

.MainTitle {
    font-size: 150px;
    font-weight: 900;
}

hr {
    border: 2px solid #ED9E39;
    max-width: 50%;
    margin: 0 32% 1% 32%;
}

.STD {
    font-size: 45px;
    font-weight: 300;
}

.Location {
    font-size: 30px;
    font-weight: 300;
}
/*Body Section*/

.Body-Para {
    background-color: #470D21;
}

.Marriage-Pic {
    border-radius: 15%;
    box-shadow: 5px 5px 30px 30px #D1512D;
    border: solid 3px #ED9E39;
    width: 35%;
    height: 35%;
    margin: 4% 32% 2% 32%;
}

.Body-Txt {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: white;
    text-align: center;
    max-width: 50%;
    margin-top: 3%;
    padding-bottom: 3rem;
}

/*Cards & Info Section*/

.Cards-Info {
    background-color: #F9E4D4;
    color: white;
    padding: 3rem;
    text-align: center;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.card-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.card-text {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-top: 3rem;
}

.card-img-top {
    max-height: 50%;
}

.venue-buttons {
    padding: 12px;
    margin-top: 4.5rem;
    margin-left: 0;
    margin-right: 0.75rem;
}

.yeg-buttons {
    padding: 12px;
    margin-top: .40rem;
    margin-left: 0;
    margin-right: 0.75rem;
}

.gifts-button {
    padding: 12px;
    margin-top: 3.5rem;
    margin-left: 0;
    margin-right: .1rem;
}

/* RSVP Section */

.RSVP-BG-Color {
    background-color: #9C0F48;
    padding: 2rem 0 2rem 0;
}

.RSVP-Section {
    background-color: #9C0F48;
}

.RSVP-Image {
    text-align: center;
}

.SaveDateImg {
    border-radius: 12%;
    box-shadow: 5px 5px 30px 30px #D1512D;
    border: solid 3px #ED9E39;
}

.RSVP-Text {
   text-align: center;
   margin-top: 3rem;
}

.RSVP-Contact-Info {
    font-family: 'Garamond', serif;
    font-size: 40px;
    font-weight: 900;
    color: #F9E4D4;
    text-shadow: 3px 3px 6px #D67D3E;
}

.RSVP-Details {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:#F9E4D4
}

.tagline {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#F9E4D4
}

.copyright {
    text-align: center;
}

/* Media Queries */

@media (max-width: 710px) {

    .MainTitle {
        font-size: 50px;
    }

    .STD {
        font-size: 40px;
    }

    .Location {
        font-size: 25px;
    }

    .Marriage-Pic {
        height: auto;
        width: 65%;
        position: relative;
        margin: 5% 0 3% 18%;
    }

    .Body-Txt {
        font-size: 15px;
        text-align: center;
        line-height: 1.5rem;
        margin: 5% 0 0 0;
    }

    .Body-TxtBox {
        height: auto;
        width: 450px;
        text-align: left;
        margin: 0 0 0 0;
    }

    .Body-Para {
        margin: 0;
    }

    .SaveDateImg {
        height: auto;
        width: 65%;
        position: relative;
        margin: 5% 0 3% 0%;
    }

    .RSVP-Text {
        height: auto;
        width: 450px;
        text-align: left;
        margin: 0 0 0 0;
    }

    .RSVP-Contact-Info {
        font-size: 25px;
        margin-top: 10%;
    }

    .RSVP-Details {
        font-size: 15px;
        margin-top: 3%;
    }

    .tagline {
        font-size: 13px;
        text-align: center;
    }


}